#### Bobba 2022 abridged QC

**Objective**: Run QC steps without normalisation/UMAP for Bobba 2022 data

**Developed by**: Mairi McClean

**Affiliation**: Institute of Computational Biology, Helmholtz Zentrum Munich

**v230308**

In [1]:
import anndata
import logging
import numpy as np
import pandas as pd
import scanpy as sc
import seaborn as sb
import scrublet as scr
import matplotlib.pyplot as plt
import pybiomart as biomart
from matplotlib import colors
from matplotlib import rcParams

In [2]:
sc.settings.verbosity = 3
sc.logging.print_versions()
sc.settings.set_figure_params(dpi = 160, color_map = 'RdPu', dpi_save = 180, vector_friendly = True, format = 'svg')

-----
anndata     0.8.0
scanpy      1.9.2
-----
PIL                 8.2.0
anyio               NA
appnope             0.1.3
arrow               1.2.3
asttokens           NA
attr                22.2.0
babel               2.12.1
backcall            0.2.0
beta_ufunc          NA
binom_ufunc         NA
brotli              NA
certifi             2022.12.07
cffi                1.15.1
charset_normalizer  2.1.1
colorama            0.4.6
comm                0.1.2
cycler              0.10.0
cython_runtime      NA
dateutil            2.8.2
debugpy             1.6.6
decorator           5.1.1
executing           1.2.0
fastjsonschema      NA
fqdn                NA
future              0.18.3
h5py                3.8.0
hypergeom_ufunc     NA
idna                3.4
igraph              0.10.4
ipykernel           6.21.2
ipython_genutils    0.2.0
isoduration         NA
jedi                0.18.2
jinja2              3.1.2
joblib              1.2.0
json5               NA
jsonpointer         2.3
jsonschema          4.17.3
jupyter_events      0.6.3
jupyter_server      2.4.0
jupyterlab_server   2.20.0
kiwisolver          1.4.4
leidenalg           0.9.1
llvmlite            0.39.1
markupsafe          2.1.2
matplotlib          3.5.3
mpl_toolkits        NA
natsort             8.3.1
nbformat            5.7.3
nbinom_ufunc        NA
ncf_ufunc           NA
numba               0.56.4
numpy               1.23.5
packaging           23.0
pandas              1.5.3
parso               0.8.3
pexpect             4.8.0
pickleshare         0.7.5
pkg_resources       NA
platformdirs        3.1.0
prometheus_client   NA
prompt_toolkit      3.0.38
psutil              5.9.4
ptyprocess          0.7.0
pure_eval           0.2.2
pvectorc            NA
pybiomart           0.2.0
pydev_ipython       NA
pydevconsole        NA
pydevd              2.9.5
pydevd_file_utils   NA
pydevd_plugins      NA
pydevd_tracing      NA
pygments            2.14.0
pyparsing           3.0.9
pyrsistent          NA
pythonjsonlogger    NA
pytz                2022.7.1
requests            2.28.2
requests_cache      0.4.13
rfc3339_validator   0.1.4
rfc3986_validator   0.1.1
scipy               1.9.1
scrublet            NA
seaborn             0.12.2
send2trash          NA
session_info        1.0.0
setuptools          67.5.0
six                 1.16.0
sklearn             1.2.1
sniffio             1.3.0
socks               1.7.1
stack_data          0.6.2
statsmodels         0.13.5
texttable           1.6.7
threadpoolctl       3.1.0
tornado             6.2
traitlets           5.9.0
typing_extensions   NA
unicodedata2        NA
uri_template        NA
urllib3             1.26.14
wcwidth             0.2.6
webcolors           1.11.1
websocket           1.5.1
yaml                6.0
zipp                NA
zmq                 25.0.1
zoneinfo            NA
-----
IPython             8.11.0
jupyter_client      8.0.3
jupyter_core        5.2.0
jupyterlab          3.6.1
notebook            6.5.3
-----
Python 3.9.16 | packaged by conda-forge | (main, Feb  1 2023, 21:38:11) [Clang 14.0.6 ]
macOS-12.5.1-arm64-arm-64bit
-----
Session information updated at 2023-03-30 16:58

### Read in datasets

##### Control data

In [7]:
adata_1 = sc.read_10x_mtx('/Volumes/LaCie/data_lake/Mairi_example/INBOX/sc_downloads/bobba_2022/GSE176423_RAW/ctl/')
adata_1

--> This might be very slow. Consider passing `cache=True`, which enables much faster reading from a cache file.

AnnData object with n_obs × n_vars = 661 × 27998
    var: 'gene_ids'

##### h445y

In [10]:
adata_2 = sc.read_10x_mtx('/Volumes/LaCie/data_lake/Mairi_example/INBOX/sc_downloads/bobba_2022/GSE176423_RAW/h445y/')
adata_2

--> This might be very slow. Consider passing `cache=True`, which enables much faster reading from a cache file.

AnnData object with n_obs × n_vars = 1849 × 27998
    var: 'gene_ids'

##### hn878

In [11]:
adata_3 = sc.read_10x_mtx('/Volumes/Lacie/data_lake/Mairi_example/INBOX/sc_downloads/bobba_2022/GSE176423_RAW/hn878/')
adata_3

--> This might be very slow. Consider passing `cache=True`, which enables much faster reading from a cache file.

AnnData object with n_obs × n_vars = 858 × 27998
    var: 'gene_ids'

In [12]:
adata_1.var

                          gene_ids
Xkr4            ENSMUSG00000051951
Gm1992          ENSMUSG00000089699
Gm37381         ENSMUSG00000102343
Rp1             ENSMUSG00000025900
Rp1-1           ENSMUSG00000109048
...                            ...
AC168977.1      ENSMUSG00000079808
PISD            ENSMUSG00000095041
DHRSX           ENSMUSG00000063897
Vmn2r122        ENSMUSG00000096730
CAAA01147332.1  ENSMUSG00000095742

[27998 rows x 1 columns]

In [13]:
adata_2.var

                          gene_ids
Xkr4            ENSMUSG00000051951
Gm1992          ENSMUSG00000089699
Gm37381         ENSMUSG00000102343
Rp1             ENSMUSG00000025900
Rp1-1           ENSMUSG00000109048
...                            ...
AC168977.1      ENSMUSG00000079808
PISD            ENSMUSG00000095041
DHRSX           ENSMUSG00000063897
Vmn2r122        ENSMUSG00000096730
CAAA01147332.1  ENSMUSG00000095742

[27998 rows x 1 columns]

In [14]:
adata_3.var

                          gene_ids
Xkr4            ENSMUSG00000051951
Gm1992          ENSMUSG00000089699
Gm37381         ENSMUSG00000102343
Rp1             ENSMUSG00000025900
Rp1-1           ENSMUSG00000109048
...                            ...
AC168977.1      ENSMUSG00000079808
PISD            ENSMUSG00000095041
DHRSX           ENSMUSG00000063897
Vmn2r122        ENSMUSG00000096730
CAAA01147332.1  ENSMUSG00000095742

[27998 rows x 1 columns]

In [15]:
adata_1.obs

Empty DataFrame
Columns: []
Index: [AAACCCATCTGAGGCC-1, AAACGAAAGAGGTTTA-1, AAAGAACAGTTGTCAC-1, AAAGAACCAAGTGGCA-1, AAAGAACGTAGCGTCC-1, AAAGGATAGATAGGGA-1, AAAGGGCAGAACGTGC-1, AAAGTGACAACGGTAG-1, AACAACCAGCGGACAT-1, AACAGGGCAGCGGATA-1, AACCACAGTCACATTG-1, AACGAAAAGGCTCTAT-1, AAGAACAAGGCTGAAC-1, AAGATAGCACAAATCC-1, AAGCCATAGAGGTTAT-1, AAGCGAGAGATGTAGT-1, AAGCGAGAGCGTATGG-1, AAGCGTTAGGCCGCTT-1, AAGGAATTCGGCGATC-1, AAGGTAAAGGTACTGG-1, AAGTCGTTCGCCGAGT-1, AAGTCGTTCTAGCAAC-1, AATCGACGTGAGCGAT-1, AATCGTGAGCGGGTAT-1, AATGCCAAGCTCAGAG-1, AATGCCAGTCGAGTTT-1, AATGGCTAGTCATCGT-1, AATGGCTTCCTTATGT-1, AATTCCTGTCGACTTA-1, ACAACCAAGGCCACCT-1, ACAACCACACGACGTC-1, ACACAGTAGCCGGAAT-1, ACACCAATCTACGCGG-1, ACACGCGAGGTCACAG-1, ACAGGGATCAAGCCGC-1, ACATTTCGTGGGACAT-1, ACCAACAGTCGCTTGG-1, ACCACAACAAGTGGTG-1, ACCATTTTCAGACCTA-1, ACCCTCATCGATACGT-1, ACCTACCGTATTCCTT-1, ACCTGAAAGCTAGAAT-1, ACCTGTCAGAGGCCAT-1, ACGGGTCCAACCGATT-1, ACGGTTATCCACCTCA-1, ACGTAACGTATCAGGG-1, ACGTACACACCTTCGT-1, ACGTACATCTGACAGT-1, ACGTAGTAGTAAACTG-1, ACGTCCTCAAGCACCC-1, ACGTTCCAGAGGTCGT-1, ACTACGAGTCTCGGGT-1, ACTATGGGTGAGCTCC-1, ACTCCCACATGACTCA-1, ACTCCCATCATCGCTC-1, ACTCCCATCTATCGTT-1, ACTCCCATCTTTGCTA-1, ACTGCAACAGCGAGTA-1, ACTGTCCCACCGTCGA-1, ACTGTCCCAGAGTCAG-1, ACTGTGACAGCTGTGC-1, ACTTAGGCAGGTCAGA-1, ACTTAGGTCCATGATG-1, ACTTCCGTCGATAACC-1, ACTTCGCGTATGGAGC-1, ACTTCGCGTCGTTTCC-1, ACTTCGCTCGGACGTC-1, ACTTTCATCTCCGTGT-1, AGAAATGCACTTGTGA-1, AGAACAAAGAGCATCG-1, AGAACAACAGTGCCTG-1, AGAACCTGTCTGGTTA-1, AGACAAAGTGCGGCTT-1, AGACCATGTAACAGGC-1, AGACCATGTATCAGCT-1, AGACCATGTCAGACTT-1, AGACCCGTCCACTAGA-1, AGACCCGTCGCCTCTA-1, AGACTCAAGGGACACT-1, AGAGCAGCATAACAGA-1, AGATCGTAGCCATATC-1, AGATGCTTCCATCAGA-1, AGCCACGTCTGCATAG-1, AGCCAGCCACACGTGC-1, AGCGATTCAAGGTTGG-1, AGCGCTGCAGCCATTA-1, AGCGCTGTCAAGAAAC-1, AGCGTATTCCACTGAA-1, AGCGTATTCTACCCAC-1, AGCGTCGAGTATGATG-1, AGCGTCGCATGACGGA-1, AGCTTCCCAGCGGTCT-1, AGGAATATCATCGCCT-1, AGGACTTCACCATATG-1, AGGACTTCATTGCCTC-1, AGGGAGTCAATTGCAC-1, AGGGAGTCATCAGCGC-1, AGGGCTCAGTATGGCG-1, AGGGCTCGTATGAAAC-1, AGGGTCCGTACAGAGC-1, ...]

[661 rows x 0 columns]

In [16]:
adata_2.obs

Empty DataFrame
Columns: []
Index: [AAACGAAAGCGATTCT-1, AAACGAAAGTCGAAGC-1, AAACGAACAAAGCTAA-1, AAACGAAGTATCGTTG-1, AAACGCTAGCACGTCC-1, AAACGCTCACATACTG-1, AAACGCTCACTTGGCG-1, AAACGCTGTAGACAGC-1, AAAGAACCACCTGAAT-1, AAAGGATCAACACGTT-1, AAAGGATCAGCGGATA-1, AAAGGATTCTGGGCAC-1, AAAGGATTCTTAAGGC-1, AAAGGGCCAGGTATGG-1, AAAGGGCGTACAAGCG-1, AAAGGTAAGAGTTGTA-1, AAAGGTAAGTAGACCG-1, AAAGGTAGTGCCAAGA-1, AAAGTCCAGGCTTAAA-1, AAAGTCCTCATCGGGC-1, AAAGTGAAGTGTAGAT-1, AAAGTGACACCAATTG-1, AAAGTGATCGAGTACT-1, AACAAAGAGGTTGGTG-1, AACAAAGCACGCTGCA-1, AACAACCAGGGCATGT-1, AACAACCTCTTGGATG-1, AACAAGAAGAATTCAG-1, AACAAGAGTTCGCGTG-1, AACAAGAGTTGCGAAG-1, AACAAGAGTTGGAGGT-1, AACACACGTATGCGTT-1, AACACACTCATGACAC-1, AACAGGGCACGCTGCA-1, AACAGGGCAGAGGGTT-1, AACCAACCACATGACT-1, AACCAACGTTAGGAGC-1, AACCACAAGTTAGAAC-1, AACCACATCTCGTCAC-1, AACCCAAAGTACAGCG-1, AACCCAATCCACGTAA-1, AACCTTTAGAGCTGAC-1, AACCTTTAGCGTCTCG-1, AACCTTTCAGACAATA-1, AACCTTTCATTGCAAC-1, AACGAAAAGGACTGGT-1, AACGAAAGTCAAGCCC-1, AACGGGACAGGATCTT-1, AACTTCTTCATGACAC-1, AAGAACATCCCTCGAT-1, AAGACAACAAATCAAG-1, AAGACAACACCTCAGG-1, AAGACTCAGATTGACA-1, AAGATAGTCCAAATGC-1, AAGATAGTCGTTACCC-1, AAGCCATAGATGTTCC-1, AAGCGTTAGACTCGAG-1, AAGCGTTAGCCGATTT-1, AAGCGTTAGCTCGGCT-1, AAGCGTTAGGCAGTCA-1, AAGCGTTTCGCGCTGA-1, AAGGAATAGCCTCAGC-1, AAGGAATCAACAGTGG-1, AAGGAATGTCGTGGTC-1, AAGGAATGTGATTAGA-1, AAGGTAAGTGCCAAGA-1, AAGTACCAGAATCGTA-1, AAGTACCGTCGAGATG-1, AAGTCGTAGCAGTAAT-1, AAGTCGTAGGGCAGAG-1, AAGTCGTCAACGGCCT-1, AAGTGAACAGAACCGA-1, AAGTTCGCACTAGAGG-1, AAGTTCGTCGGCAGTC-1, AATCACGAGCACTCTA-1, AATCACGAGCTTCTAG-1, AATCACGCAGTTAGGG-1, AATCACGTCACCGCTT-1, AATCACGTCGCTCTCA-1, AATCACGTCGGCACTG-1, AATCGACCAGCTGAGA-1, AATCGACGTATCCTCC-1, AATCGACTCTGCACCT-1, AATGAAGAGAGTCTTC-1, AATGAAGCAACAAGTA-1, AATGACCGTACCCGCA-1, AATGACCGTGCATACT-1, AATGACCTCCGGACGT-1, AATGGAAAGAGGTTAT-1, AATGGAAGTATGATCC-1, AATGGAATCTACCTTA-1, AATGGCTGTTGTTGAC-1, AATGGCTTCTGTAAGC-1, AATTCCTAGACCAGCA-1, AATTCCTCAGACTGCC-1, AATTTCCAGGATTTCC-1, AATTTCCCAGCCGGTT-1, ACAAAGAAGGTTTGAA-1, ACAACCAGTAATGCGG-1, ACAACCAGTCCAATCA-1, ...]

[1849 rows x 0 columns]

In [17]:
adata_3.obs

Empty DataFrame
Columns: []
Index: [AAACGAAGTCGCTTGG-1, AAACGAATCCATCACC-1, AAAGAACTCATTTGCT-1, AAAGGGCCAACAAGAT-1, AAAGGGCCAGTAACGG-1, AAAGGGCGTTATAGCC-1, AAATGGAGTTCGTAAC-1, AACAAGACATAAGCGG-1, AACACACTCCTTACCG-1, AACAGGGGTAGGCAAC-1, AACAGGGGTTTCACAG-1, AACCAACCAAAGCTAA-1, AACCCAAGTCAGACGA-1, AACCTTTGTAGATCGG-1, AACCTTTGTTCGAAGG-1, AACGAAAAGAGGATCC-1, AACGAAACACTTGTCC-1, AAGAACAAGACTCGAG-1, AAGAACAGTACTTGTG-1, AAGATAGAGTATCCTG-1, AAGCATCAGTGCACAG-1, AAGCATCCACCATAAC-1, AAGCATCCAGCTACAT-1, AAGCATCTCACAATGC-1, AAGCGTTGTACTCCCT-1, AAGGTAAAGGTCCGAA-1, AAGGTAACACTTGAAC-1, AAGGTAACAGAACTCT-1, AAGGTAATCGGTCATA-1, AAGTCGTTCCGTTTCG-1, AAGTTCGGTAACACGG-1, AAGTTCGTCACCTCGT-1, AATAGAGTCTGTCAGA-1, AATCGACAGTTCGCAT-1, AATCGACGTGAGTAGC-1, AATGGAATCCACCTCA-1, AATGGAATCGATACGT-1, ACAAAGACACACCGCA-1, ACAACCACATCGGATT-1, ACAACCAGTAATGCGG-1, ACAACCAGTCAGACGA-1, ACACAGTGTTAGCGGA-1, ACACCAACATCAGTGT-1, ACACGCGAGTTACGAA-1, ACAGAAAAGACAACTA-1, ACAGCCGAGGACGCTA-1, ACAGCCGCATCTCCCA-1, ACAGCCGGTAACCCTA-1, ACAGCCGGTGCAGTGA-1, ACATGCAAGTTGGAAT-1, ACATGCACACTCAGAT-1, ACCAAACAGTCCTGTA-1, ACCAAACCACCTTCCA-1, ACCCTCAGTCAAGCCC-1, ACCCTTGCAAAGACTA-1, ACCGTTCGTCACTGAT-1, ACCTACCGTCGGCTAC-1, ACCTACCTCGTGCGAC-1, ACCTGAACAGTCGAGA-1, ACCTGAAGTCGTGTTA-1, ACCTGTCCACATACGT-1, ACGATGTAGGACCCAA-1, ACGATGTTCGGACTTA-1, ACGGAAGAGTGGCGAT-1, ACGGAAGTCACCCTGT-1, ACGGGTCCAAGTATCC-1, ACGTAACTCAAACGAA-1, ACGTAACTCCCAGCGA-1, ACGTAGTAGAAGCCTG-1, ACGTCCTCAGGTGGAT-1, ACTACGAAGGGAGAAT-1, ACTACGAGTTCCTAGA-1, ACTATCTAGGCCTGCT-1, ACTATGGGTGTTATCG-1, ACTCCCAGTATGCAAA-1, ACTGATGAGCCAACCC-1, ACTGCAAAGGTTACAA-1, ACTGCAAGTAGCACGA-1, ACTGTCCAGCACTCGC-1, ACTGTGACATGTGCCG-1, ACTTATCTCTGGGATT-1, ACTTCGCCACGTAACT-1, ACTTCGCCACTGAGTT-1, ACTTTCAGTCACGACC-1, ACTTTCAGTTAGGCTT-1, ACTTTGTAGAGTACCG-1, ACTTTGTAGCAATAAC-1, ACTTTGTCAACCACGC-1, ACTTTGTCAGTCTACA-1, AGAACCTAGCACGTCC-1, AGAACCTCATCAGCAT-1, AGAAGCGAGAGTTCGG-1, AGAAGCGTCTCGGTCT-1, AGACACTAGGAAGTAG-1, AGACCCGTCAGGGATG-1, AGAGAATAGCGACAGT-1, AGAGAATGTAGCCCTG-1, AGAGAATGTTCCGGTG-1, AGAGAATTCGAGCTGC-1, AGAGCCCCATGAGAAT-1, ...]

[858 rows x 0 columns]

#### Concatenate objects?

In [19]:
adata_total = adata_1.concatenate(adata_2, adata_3, join="inner", batch_key="batch")
adata_total

/Users/mairi.mcclean/mambaforge/envs/scanpy_local/lib/python3.9/site-packages/anndata/_core/anndata.py:1785: FutureWarning: X.dtype being converted to np.float32 from float64. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  [AnnData(sparse.csr_matrix(a.shape), obs=a.obs) for a in all_adatas],
/Users/mairi.mcclean/mambaforge/envs/scanpy_local/lib/python3.9/site-packages/anndata/_core/anndata.py:1785: FutureWarning: X.dtype being converted to np.float32 from float64. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  [AnnData(sparse.csr_matrix(a.shape), obs=a.obs) for a in all_adatas],
/Users/mairi.mcclean/mambaforge/envs/scanpy_local/lib/python3.9/site-packages/anndata/_core/anndata.py:1785: FutureWarning: X.dtype being converted to np.float32 from float64. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  [AnnData(sparse.csr_matrix(a.shape), obs=a.obs) for a in all_adatas],

AnnData object with n_obs × n_vars = 3368 × 27998
    obs: 'batch'
    var: 'gene_ids'

### Check concatenated anndata object

In [ ]:
# checks the number of molecules counted per barcode(?), using "donor" as proxy(?)
adata_1.obs['donor'].value_counts()

In [ ]:
# check omics mode
adata_1.obs['data_type'].value_counts

In [ ]:
# check tissue type

In [ ]:
# Make names unique to avoid computational issues re repeated gene names
adata.var_names_make_unique()
sample_object = adata.copy()
sample_object

### Replace gene symbols
#### Performed to ensure that index concatenation is smoother

> required for this particular dataset?

In [ ]:
sample_object.var['gene_id'] = sample_object.var.index.copy()
sample_object.var.set_index('gene_name', inplace = True)
sample_object.var.head()

In [ ]:
sample_object.var_names = [str(i) for i in sample_object.var_names]
sample_object.var_names_make_unique()

### Top 20 scatterplot

In [ ]:
sc.pl.highest_expr_genes(sample_object, n_top=20)

### Filter cells by gene number

In [ ]:
sc.pp.filter_cells(sample_object, min_genes = 200)
print(sample_object.n_obs, sample_object.n_vars)

In [ ]:
sample_object.shape

In [ ]:
sample_object.var

### Filter genes by cell number

In [ ]:
# sc.pp.filter_genes(sample_object, min_cells = 3)
# sample_object.shape

# removed because of erroneous QC visualisation graphs

### QC metrics

In [ ]:
sample_object.var['mt'] = sample_object.var_names.str.startswith('MT-')
sample_object.var['ribo'] = sample_object.var_names.str.startswith(("RPS","RPL"))
sample_object.var

In [ ]:
sc.pp.calculate_qc_metrics(sample_object, qc_vars = ['mt', 'ribo'], percent_top = None, log1p = False, inplace = True)

In [ ]:
# for each cell compute fraction of counts in mito genes vs. all genes
# the `.A1` is only necessary as X is sparse (to transform to a dense array after summing)
# add the total counts per cell as observations-annotation to adata

mito_genes = sample_object.var_names.str.startswith('MT-')
sample_object.obs['percent_mt2'] = np.sum(
    sample_object[:, mito_genes].X, axis = 1).A1 / np.sum(sample_object.X, axis = 1).A1
sample_object.obs['n_counts'] = sample_object.X.sum(axis = 1).A1

In [ ]:
sample_object

### QC visualisation

In [ ]:
sample_object.var_names

In [ ]:
sc.pl.violin(sample_object, ['n_genes_by_counts', 'total_counts', 'pct_counts_mt', 'pct_counts_ribo'],
             jitter=0.4, multi_panel=True)

In [ ]:
sc.pl.violin(sample_object, ['n_genes_by_counts', 'total_counts', 'pct_counts_mt','pct_counts_ribo'],
             jitter=0.4, groupby = 'status', rotation = 45)

In [ ]:
sc.pl.scatter(sample_object, x='total_counts', y='n_genes_by_counts', color = "donor")

### Add sample sex covariate

In [ ]:
annot = sc.queries.biomart_annotations(
        "hsapiens",
        ["ensembl_gene_id", "external_gene_name", "start_position", "end_position", "chromosome_name"],
    ).set_index("external_gene_name")

In [ ]:
annot.head()

In [ ]:
chrY_genes = sample_object.var_names.intersection(annot.index[annot.chromosome_name == "Y"])
chrY_genes

In [ ]:
sample_object.obs['percent_chrY'] = np.sum(
    sample_object[:, chrY_genes].X, axis = 1).A1 / np.sum(sample_object.X, axis = 1).A1 * 100

sample_object.obs["XIST-counts"] = sample_object.X[:,sample_object.var_names.str.match('XIST')].toarray()

### Cell cycle scores

In [ ]:
!if [ ! -f /Users/mairi.mcclean/data/qc_files/cell_cycle_gene.txt ]; then curl -o /Users/mairi.mcclean/data/qc_files/cell_cycle_gene.txt https://raw.githubusercontent.

In [ ]:
cell_cycle_genes = [x.strip() for x in open('/Users/mairi.mcclean/data/qc_files/cell_cycle_gene')]
print(len(cell_cycle_genes))

# Split into 2 lists
s_genes = cell_cycle_genes[:43]
g2m_genes = cell_cycle_genes[43:]

cell_cycle_genes = [x for x in cell_cycle_genes if x in sample_object.var_names]
print(len(cell_cycle_genes))

In [ ]:
# create other anndata object for score calculation

adata_log = anndata.AnnData(X = sample_object.X,  var = sample_object.var, obs = sample_object.obs)
sc.pp.normalize_total(adata_log, target_sum = 1e6, exclude_highly_expressed = True)
sc.pp.log1p(adata_log)

In [ ]:
sc.tl.score_genes_cell_cycle(adata_log, s_genes = s_genes, g2m_genes = g2m_genes)
sc.pl.violin(adata_log, ['S_score', 'G2M_score'],
             jitter = 0.4, groupby = 'donor', rotation = 45)

In [ ]:
sample_object.obs['S_score'] = adata_log.obs['S_score']
sample_object.obs['G2M_score'] = adata_log.obs['G2M_score']
sample_object

### Predict doublets

In [ ]:
holder = np.zeros((sample_object.shape[0],))
for smp in np.unique(sample_object.obs['sample']):
    if smp == []:
        continue
    adata_smp = sample_object[sample_object.obs['sample'] == smp]
    scrub = scr.Scrublet(adata_smp.X)
    adata_smp.obs['doublet_scores'], adata_smp.obs['predicted_doublets'] = scrub.scrub_doublets()
    holder[sample_object.obs['sample'] == smp] = adata_smp.obs['predicted_doublets']
sample_object.obs['predicted_doublets'] = holder

sum(sample_object.obs['predicted_doublets'])
sample_object

In [ ]:
scrub.plot_histogram()

In [ ]:
#check if our predicted doublets also have more detected genes in general

sc.pl.violin(sample_object, ['n_genes_by_counts', 'total_counts', 'pct_counts_mt','pct_counts_ribo', 'predicted_doublets'],
             jitter = 0.2, groupby = 'donor', rotation = 45)

### Prepare counts for individual slots

In [ ]:
sample_object.raw = sample_object.copy()
sample_object.layers['counts'] = sample_object.X.copy()
sample_object.layers["sqrt_norm"] = np.sqrt(
    sc.pp.normalize_total(sample_object, inplace = False)["X"]
)
sample_object

### Export object

In [ ]:
sample_object.write('/Volumes/Lacie/data_lake/Mairi_example/processed_files/abridged_qc/mice/Bobba2022_mm230308.h5ad')