### Basic QC for non-human primate samples (Gideon)

#### Objective: Run basic QC for week 10 BAL samples in non-human primates from Gideon et al 2021

- **Developed by**: Mairi McClean
- **Affiliation**: Institute of Computational Biology, Computational Health Centre, Helmholtz Munich
- **v221209**

## Load modules

In [2]:
import anndata
import logging
import numpy as np
import pandas as pd
import scanpy as sc
import seaborn as sns
import matplotlib.pyplot as plt
import igraph as ig
from matplotlib import colors
from matplotlib import rcParams

In [3]:
sc.settings.verbosity = 3
sc.logging.print_versions()
sc.settings.set_figure_params(dpi = 160, color_map = 'RdPu', dpi_save = 180, vector_friendly = True, format = 'svg')

-----
anndata     0.9.1
scanpy      1.9.3
-----
PIL                 9.4.0
anyio               NA
appnope             0.1.3
arrow               1.2.3
asttokens           NA
attr                22.2.0
babel               2.12.1
backcall            0.2.0
brotli              NA
certifi             2023.05.07
cffi                1.15.1
charset_normalizer  2.1.1
colorama            0.4.6
comm                0.1.2
cycler              0.10.0
cython_runtime      NA
dateutil            2.8.2
debugpy             1.6.6
decorator           5.1.1
defusedxml          0.7.1
executing           1.2.0
fastjsonschema      NA
fqdn                NA
h5py                3.8.0
idna                3.4
igraph              0.10.4
importlib_resources NA
ipykernel           6.21.2
ipython_genutils    0.2.0
isoduration         NA
jedi                0.18.2
jinja2              3.1.2
joblib              1.2.0
json5               NA
jsonpointer         2.3
jsonschema          4.17.3
jupyter_events      0.6.3
jupyter_server      2.4.0
jupyterlab_server   2.20.0
kiwisolver          1.4.4
leidenalg           0.9.1
llvmlite            0.39.1
markupsafe          2.1.2
matplotlib          3.7.1
mpl_toolkits        NA
natsort             8.3.1
nbformat            5.7.3
numba               0.56.4
numpy               1.23.5
packaging           23.0
pandas              2.0.2
parso               0.8.3
patsy               0.5.3
pexpect             4.8.0
pickleshare         0.7.5
pkg_resources       NA
platformdirs        3.1.0
prometheus_client   NA
prompt_toolkit      3.0.38
psutil              5.9.4
ptyprocess          0.7.0
pure_eval           0.2.2
pvectorc            NA
pydev_ipython       NA
pydevconsole        NA
pydevd              2.9.5
pydevd_file_utils   NA
pydevd_plugins      NA
pydevd_tracing      NA
pygments            2.14.0
pyparsing           3.0.9
pyrsistent          NA
pythonjsonlogger    NA
pytz                2022.7.1
requests            2.28.2
rfc3339_validator   0.1.4
rfc3986_validator   0.1.1
scipy               1.10.1
seaborn             0.12.2
send2trash          NA
session_info        1.0.0
setuptools          67.5.0
six                 1.16.0
sklearn             1.2.2
sniffio             1.3.0
socks               1.7.1
stack_data          0.6.2
statsmodels         0.14.0
texttable           1.6.7
threadpoolctl       3.1.0
tornado             6.2
traitlets           5.9.0
typing_extensions   NA
unicodedata2        NA
uri_template        NA
urllib3             1.26.14
wcwidth             0.2.6
webcolors           1.11.1
websocket           1.5.1
yaml                6.0
zipp                NA
zmq                 25.0.1
zoneinfo            NA
-----
IPython             8.11.0
jupyter_client      8.0.3
jupyter_core        5.2.0
jupyterlab          3.6.1
notebook            6.5.3
-----
Python 3.9.16 | packaged by conda-forge | (main, Feb  1 2023, 21:38:11) [Clang 14.0.6 ]
macOS-12.5.1-arm64-arm-64bit
-----
Session information updated at 2023-06-07 16:28

## Read in datasets

In [5]:
adata_1 = sc.read_csv('/Volumes/LaCie/data_lake/Mairi_example/INBOX/sc_downloads/gideon2021/week10/SCP257/expression/counts_pt_1.csv')
adata_1

AnnData object with n_obs × n_vars = 28155 × 50000

In [6]:
adata_2 = sc.read_csv('/Volumes/LaCie/data_lake/Mairi_example/INBOX/sc_downloads/gideon2021/week10/SCP257/expression/counts_pt_2.csv')
adata_2

AnnData object with n_obs × n_vars = 28155 × 59584

In [7]:
adata_1.obs

Empty DataFrame
Columns: []
Index: [A1BG, A2ML1, A3GALT2, A4GALT, A4GNT, AAAS, AACS, AADACL3, AADACL4, AADAT, AAED1, AAGAB, AAK1, AAMDC, AAMP, AANAT, AAR2, AARD, AARS, AARS2, AARSD1, AASDH, AASDHPPT, AASS, AATF, AATK, ABAT, ABCA1, ABCA12, ABCA13, ABCA2, ABCA3, ABCA4, ABCA5, ABCA6, ABCA7, ABCA8, ABCA9, ABCB1, ABCB10, ABCB11, ABCB4, ABCB5, ABCB6, ABCB7, ABCB8, ABCB9, ABCC1, ABCC10, ABCC11, ABCC12, ABCC2, ABCC3, ABCC4, ABCC5, ABCC6, ABCC8, ABCC9, ABCD1, ABCD2, ABCD3, ABCD4, ABCE1, ABCF1, ABCF2, ABCF3, ABCG1, ABCG2, ABCG4, ABCG5, ABCG8, ABHD1, ABHD10, ABHD11, ABHD12, ABHD12B, ABHD13, ABHD15, ABHD16A, ABHD16B, ABHD17A, ABHD17B, ABHD18, ABHD2, ABHD3, ABHD4, ABHD5, ABHD6, ABHD8, ABI1, ABI2, ABI3, ABI3BP, ABL1, ABL2, ABLIM1, ABLIM2, ABLIM3, ABO, ABR, ...]

[28155 rows x 0 columns]

In [8]:
adata_2.var

Empty DataFrame
Columns: []
Index: [Array2_4217_GGTTCCTGAGTT, Array2_4217_GGTTCGGTGCCC, Array2_4217_GGTTGACAAGGG, Array2_4217_GGTTGAGTTTGC, Array2_4217_GGTTGCATCCAA, Array2_4217_GGTTGCTTTATT, Array2_4217_GGTTTAAGCACG, Array2_4217_GGTTTACGAAGA, Array2_4217_GGTTTCCGCTTT, Array2_4217_GTAAAGATCTCG, Array2_4217_GTAAATCGTTGC, Array2_4217_GTAACAAGAATA, Array2_4217_GTAACACCGTTT, Array2_4217_GTAACATCGGTA, Array2_4217_GTAACGATGCCA, Array2_4217_GTAACGTGGAAC, Array2_4217_GTAAGCAAAGTT, Array2_4217_GTAAGTGGATCA, Array2_4217_GTAATAGGTCGG, Array2_4217_GTAATCACCAGG, Array2_4217_GTAATGCAATTT, Array2_4217_GTAATGTAACTT, Array2_4217_GTACACCGCGGA, Array2_4217_GTACAGCTTTGG, Array2_4217_GTACATAGATCA, Array2_4217_GTACATCTCGAT, Array2_4217_GTACCCACAAGA, Array2_4217_GTACCTGACCGA, Array2_4217_GTACGACTCTTT, Array2_4217_GTACGCACGAAG, Array2_4217_GTACGCGTCCCG, Array2_4217_GTACGTGGCCTA, Array2_4217_GTACTAACGGCT, Array2_4217_GTACTGACAACC, Array2_4217_GTACTGTCTGAT, Array2_4217_GTACTTCGGCTA, Array2_4217_GTAGAAGTTTCT, Array2_4217_GTAGAATCTCCG, Array2_4217_GTAGAGATAGCT, Array2_4217_GTAGATAGTTAG, Array2_4217_GTAGCAGCATCG, Array2_4217_GTAGCAGGGACT, Array2_4217_GTAGCATGACTC, Array2_4217_GTAGCATTTACA, Array2_4217_GTAGCCCTATGA, Array2_4217_GTAGCCTGGATA, Array2_4217_GTAGCGATGGCC, Array2_4217_GTAGCGGACATG, Array2_4217_GTAGGCCTTCGA, Array2_4217_GTAGGGTTTGAT, Array2_4217_GTAGGTAGTTGT, Array2_4217_GTAGGTGAGTAC, Array2_4217_GTAGGTTTTACC, Array2_4217_GTAGTACGGTGC, Array2_4217_GTAGTGTAGAGC, Array2_4217_GTATAAGCCGCC, Array2_4217_GTATAATCTCAG, Array2_4217_GTATACCGTGAG, Array2_4217_GTATACGCCGTG, Array2_4217_GTATATAACCTC, Array2_4217_GTATATCTCTTG, Array2_4217_GTATATGCTAAC, Array2_4217_GTATATGCTTGC, Array2_4217_GTATCATGACTG, Array2_4217_GTATCATGCAAG, Array2_4217_GTATCGAAGGTA, Array2_4217_GTATCGGCACTT, Array2_4217_GTATGAACCATA, Array2_4217_GTATGAGTGTTT, Array2_4217_GTATGATCAAAT, Array2_4217_GTATGTATCTCA, Array2_4217_GTATGTGTGTCT, Array2_4217_GTATTCCTCCCT, Array2_4217_GTATTTGAGCCG, Array2_4217_GTCAAAGACGAT, Array2_4217_GTCAAGTAGGGA, Array2_4217_GTCACCCAAAGT, Array2_4217_GTCACCCCAAGT, Array2_4217_GTCACGGATGAA, Array2_4217_GTCAGATAGTCC, Array2_4217_GTCAGGATATAA, Array2_4217_GTCAGGCGGTGC, Array2_4217_GTCAGTATTGCG, Array2_4217_GTCAGTGGCAGA, Array2_4217_GTCAGTGGCGCA, Array2_4217_GTCAGTTCACTC, Array2_4217_GTCAGTTGGTAA, Array2_4217_GTCATACCGCCT, Array2_4217_GTCATACGGCGT, Array2_4217_GTCATCATCCCT, Array2_4217_GTCATCTCCCCC, Array2_4217_GTCATTGCGATG, Array2_4217_GTCATTTCCGTA, Array2_4217_GTCCAACGGAGT, Array2_4217_GTCCAATAAGAA, Array2_4217_GTCCAATACCAG, Array2_4217_GTCCATTCCCGT, Array2_4217_GTCCATTGAGAT, Array2_4217_GTCCATTGTGCC, Array2_4217_GTCCATTTCGGT, ...]

[59584 rows x 0 columns]

- Transpose objects

In [9]:
# Transpose the AnnData object
adata_1_trans = adata_1.transpose()

# Access the transposed data matrix
transposed_data = adata_1_trans.X

# Access the transposed observations (rows)
transposed_obs = adata_1_trans.obs

# Access the transposed variables (columns)
transposed_var = adata_1_trans.var

In [10]:
# Transpose the AnnData object
adata_2_trans = adata_2.transpose()

# Access the transposed data matrix
transposed_data = adata_2_trans.X

# Access the transposed observations (rows)
transposed_obs = adata_2_trans.obs

# Access the transposed variables (columns)
transposed_var = adata_2_trans.var

In [13]:
adata_2_trans.var

Empty DataFrame
Columns: []
Index: [A1BG, A2ML1, A3GALT2, A4GALT, A4GNT, AAAS, AACS, AADACL3, AADACL4, AADAT, AAED1, AAGAB, AAK1, AAMDC, AAMP, AANAT, AAR2, AARD, AARS, AARS2, AARSD1, AASDH, AASDHPPT, AASS, AATF, AATK, ABAT, ABCA1, ABCA12, ABCA13, ABCA2, ABCA3, ABCA4, ABCA5, ABCA6, ABCA7, ABCA8, ABCA9, ABCB1, ABCB10, ABCB11, ABCB4, ABCB5, ABCB6, ABCB7, ABCB8, ABCB9, ABCC1, ABCC10, ABCC11, ABCC12, ABCC2, ABCC3, ABCC4, ABCC5, ABCC6, ABCC8, ABCC9, ABCD1, ABCD2, ABCD3, ABCD4, ABCE1, ABCF1, ABCF2, ABCF3, ABCG1, ABCG2, ABCG4, ABCG5, ABCG8, ABHD1, ABHD10, ABHD11, ABHD12, ABHD12B, ABHD13, ABHD15, ABHD16A, ABHD16B, ABHD17A, ABHD17B, ABHD18, ABHD2, ABHD3, ABHD4, ABHD5, ABHD6, ABHD8, ABI1, ABI2, ABI3, ABI3BP, ABL1, ABL2, ABLIM1, ABLIM2, ABLIM3, ABO, ABR, ...]

[28155 rows x 0 columns]

- Read in week 4 data

In [11]:
adata_3 = sc.read_10x_mtx('/Volumes/LaCie/data_lake/Mairi_example/INBOX/sc_downloads/gideon2021/week4/')
adata_3

--> This might be very slow. Consider passing `cache=True`, which enables much faster reading from a cache file.

AnnData object with n_obs × n_vars = 10006 × 24820
    var: 'gene_ids'

In [15]:
adata_3.var.rename(columns={'gene_ids': 'gene_name'}, inplace=True)
adata_3.var

        gene_name
A2ML1       A2ML1
A3GALT2   A3GALT2
A4GALT     A4GALT
AAAS         AAAS
AACS         AACS
...           ...
ZYG11A     ZYG11A
ZYG11B     ZYG11B
ZYX           ZYX
ZZEF1       ZZEF1
ZZZ3         ZZZ3

[24820 rows x 1 columns]

In [16]:
adata_3.var = adata_3.var.drop('gene_name', axis=1)

In [17]:
adata_3.var

Empty DataFrame
Columns: []
Index: [A2ML1, A3GALT2, A4GALT, AAAS, AACS, AADACL4, AADAT, AAED1, AAGAB, AAK1, AAMDC, AAMP, AANAT, AAR2, AARD, AARS, AARS2, AARSD1, AASDH, AASDHPPT, AASS, AATF, AATK, ABAT, ABCA1, ABCA12, ABCA13, ABCA2, ABCA3, ABCA4, ABCA5, ABCA6, ABCA7, ABCA8, ABCA9, ABCB1, ABCB10, ABCB11, ABCB4, ABCB6, ABCB7, ABCB8, ABCB9, ABCC1, ABCC10, ABCC2, ABCC3, ABCC4, ABCC5, ABCC8, ABCC9, ABCD1, ABCD2, ABCD3, ABCD4, ABCE1, ABCF1, ABCF2, ABCF3, ABCG1, ABCG2, ABCG4, ABCG8, ABHD1, ABHD10, ABHD11, ABHD12, ABHD12B, ABHD13, ABHD15, ABHD16A, ABHD16B, ABHD17A, ABHD17B, ABHD18, ABHD2, ABHD3, ABHD4, ABHD5, ABHD6, ABHD8, ABI1, ABI2, ABI3, ABI3BP, ABL1, ABL2, ABLIM1, ABLIM2, ABLIM3, ABO, ABR, ABRACL, ABT1, ABTB1, ABTB2, ACAA1, ACAA2, ACACA, ACACB, ...]

[24820 rows x 0 columns]

- Concatenate

In [ ]:
adata_wk10 = adata_1_trans.concatenate(adata_2_trans, join='inner', batch_key='dataset', batch_categories=['part1', 'part2'])
adata_wk10

In [24]:
print(adata_3.var.dtypes)

Series([], dtype: object)

In [31]:
print(adata_3.obs.dtypes)

Series([], dtype: object)

In [ ]:
adata_total.obs

- Make names unique 
> Done on concatenated object

In [ ]:
adata_total.var_names_make_unique()
sample_object = adata_total.copy()
sample_object

In [ ]:
# Make sure that all names are unique in new data object. 

# Turns var names into string - always required?
sample_object.var_names = [str(i) for i in sample_object.var_names]
sample_object.var_names_make_unique()

### Top 20 scatterplot

In [ ]:
sc.pl.highest_expr_genes(sample_object, n_top=20)

### Inital filtering

- By gene number

In [ ]:
sc.pp.filter_cells(sample_object, min_genes = 200)
print(sample_object.n_obs, sample_object.n_vars)

- By cell number

In [ ]:
sc.pp.filter_genes(sample_object, min_cells = 3)
sample_object.shape

### QC metrics

In [ ]:
sample_object.var['mt'] = sample_object.var_names.str.startswith('MT')
sample_object.var['ribo'] = sample_object.var_names.str.startswith(("RPS","RPL"))
sample_object.var["hb"] = sample_object.var_names.str.contains(("^HB[^(P)]"))
sample_object.var

In [ ]:
sample_object.var['mt'].value_counts()

In [ ]:
sample_object.var['ribo'].value_counts()

In [ ]:
sample_object.var['hb'].value_counts()

In [ ]:
sc.pp.calculate_qc_metrics(sample_object, qc_vars = ['mt', 'ribo', 'hb'], percent_top = None, log1p = False, inplace = True)

In [ ]:
sample_object.obs

- QC visualisation

In [ ]:
p1 = sns.displot(sample_object.obs["total_counts"], bins=100, kde=False)
# sc.pl.violin(adata, 'total_counts')
p2 = sc.pl.violin(sample_object, "pct_counts_mt")
p3 = sc.pl.scatter(sample_object, "total_counts", "n_genes_by_counts", color="pct_counts_mt")

In [ ]:
sc.pl.violin(sample_object, ['n_genes_by_counts', 'total_counts', 'pct_counts_ribo'],
             jitter=0.4, multi_panel=True)

### QC-based filtering

In [ ]:
sample_object.obs.head()

In [ ]:
sample_object.shape

In [ ]:
sample_object.obs["mt_ok"] = sample_object.obs['pct_counts_mt'] <= 20
sample_object.obs.head()

In [ ]:
sample_object.obs.mt_ok.value_counts()

In [ ]:
print(f"Total number of cells: {sample_object.n_obs}")
sample_object = sample_object[(sample_object.obs.mt_ok)].copy()

print(f"Number of cells after filtering of low quality cells: {sample_object.n_obs}")

In [ ]:
p1 = sc.pl.scatter(sample_object, "total_counts", "n_genes_by_counts", color="pct_counts_mt")

### Sample sex covariate

In [ ]:
annot = sc.queries.biomart_annotations(
        "mfascicularis",
        ["ensembl_gene_id", "external_gene_name", "start_position", "end_position", "chromosome_name"],
    ).set_index("ensembl_gene_id")

In [ ]:
annot.head()

- Y chrom

In [ ]:
chrY_genes = sample_object.var_names.intersection(annot.index[annot.chromosome_name == "Y"])
chrY_genes

In [ ]:
sample_object.obs['percent_chrY'] = np.sum(
    sample_object[:, chrY_genes].X, axis = 1).A1 / np.sum(sample_object.X, axis = 1).A1 * 100

- X chromo

In [ ]:
chrX_genes = sample_object.var_names.intersection(annot.index[annot.chromosome_name == "X"])
chrX_genes

In [ ]:
chrX_sum = sample_object[:, chrX_genes].X.sum(axis=1)
total_sum = sample_object.X.sum(axis=1)

# Flatten the arrays and calculate percent_chrY
sample_object.obs['percent_chrX'] = (np.asarray(chrX_sum).flatten() / np.asarray(total_sum).flatten()) * 100
sample_object.obs

In [ ]:
# Graph of samples with X chrom
sample_object.obs.percent_chrX.value_counts()

In [ ]:
sample_object.obs.shape

In [ ]:
sc.set_figure_params(figsize=(25, 7),dpi=100)
sc.pl.violin(sample_object, ["percent_chrX"], jitter = 0.4, groupby = 'part', rotation = 45)

### Cell cycle scores

In [ ]:
!if [ ! -f /Users/mairi.mcclean/data/qc_files/mfasc_orthog_cell_cycle_genes.txt ]; then curl -o /Users/mairi.mcclean/data/qc_files/mfasc_orthog_cell_cycle_genes.txt https://raw.githubusercontent.com/Talavera-Lopez-Lab/Mairi-PhD/main/sc_temp_folder/cell_cycle_genes/mfasc_orthog_cell_cycle_genes.txt?token=GHSAT0AAAAAACBVCJYZCXEBCEQZZKWQJC22ZD7AUZA

In [ ]:
cell_cycle_genes = [x.strip() for x in open('/Users/mairi.mcclean/data/qc_files/mfasc_orthog_cell_cycle_genes.txt')]
print(len(cell_cycle_genes))

# Split into 2 lists
g2m_genes = cell_cycle_genes[:46]
s_genes = cell_cycle_genes[46:]

cell_cycle_genes = [x for x in cell_cycle_genes if x in sample_object.var_names]
print(len(cell_cycle_genes))

In [ ]:
adata_log = anndata.AnnData(X = sample_object.X,  var = sample_object.var, obs = sample_object.obs)
sc.pp.normalize_total(adata_log, target_sum = 1e6, exclude_highly_expressed = True)
sc.pp.log1p(adata_log)

In [ ]:
# Set specific figure params

sc.set_figure_params(figsize=(10, 7))
sc.tl.score_genes_cell_cycle(adata_log, s_genes = s_genes, g2m_genes = g2m_genes)
sc.pl.violin(adata_log, ['S_score', 'G2M_score'],
             jitter = 0.4, groupby = 'part', rotation = 45)

In [ ]:
sample_object.obs['S_score'] = adata_log.obs['S_score']
sample_object.obs['G2M_score'] = adata_log.obs['G2M_score']
sample_object

### Predict doublets

In [ ]:
import scrublet

In [ ]:
scrub = scrublet.Scrublet(sample_object.X)

In [ ]:
sample_object.obs['doublet_scores'], sample_object.obs['predicted_doublets'] = scrub.scrub_doublets()
scrub.plot_histogram()

In [ ]:
sum(sample_object.obs['predicted_doublets'])

In [ ]:
# Re-set figure params
sc.settings.set_figure_params(dpi = 160, color_map = 'RdPu', dpi_save = 180, vector_friendly = True, format = 'svg')

# Plot doublet detection results
sc.pl.violin(sample_object, ['n_genes_by_counts', 'total_counts', 'pct_counts_mt','pct_counts_ribo', 'predicted_doublets'],
             jitter = 0.2, groupby = 'part', rotation = 45, multi_panel=False)

### Prepare counts for individual slots

In [ ]:
sample_object.raw = sample_object.copy()
sample_object.layers['counts'] = sample_object.X.copy()
sample_object.layers["sqrt_norm"] = np.sqrt(
    sc.pp.normalize_total(sample_object, inplace = False)["X"]
)
sample_object

### Export object

In [ ]:
sample_object.write('/Volumes/Lacie/data_lake/Mairi_example/processed_files/abridged_qc/nhp/Gideon2021_mm230606.h5ad')